{% extends 'auth_base.html' %}
{% load static %}

{% block content %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% include 'partials/_messages.html' %}
    <img class="mb-4" src="{% static 'img/logo-clean.png' %}" alt="" width="300" height="200">
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating">
        <input type="text" class="form-control"  name="username" value="{{fieldValues.username}}" id="usernameField" placeholder="username">
        <label for="usernameField">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control"  name="password" id="passwordField" placeholder="password">
        <label for="passwordField">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>

    <button class="w-100 btn btn-lg btn-primary submit-btn" value="Login" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted">&copy; Daniel Cheong 2024</p>
</form>
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}